:root {
  --black: #212121;
  --gray: #757575;
  --white: #ffffff;
  --blue: #2196f3;
}

body {
  font-family: "Roboto";
  background-color: var(--white);
  color: var(--black);
}

/* -----------------------------------Common-------------------------- */
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
p.text-description {
  color: var(--gray);
}
.hidden {
  display: none;
}
a.link {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
}
a.link:hover {
  color: var(--blue);
}
a.link:focus {
  color: var(--blue);
}
a.link.active,
a.link:active {
  color: var(--blue);
}
ul.block-style {
  list-style: none;
}
button.main-button {
  background-color: #338ABB;
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 216px;
  line-height: 3;
  cursor: pointer;
}
button.main-button:hover {
  background-color: #188CE8;
}
button.main-button:focus {
  background-color: #188CE8;
}
button.border-button {
  background-color: var(--white);
  cursor: pointer;
  border: none;
  background-color: #F5F4FA;;
}
button.border-button.active {
  background-color: var(--blue);
}
button.border-button:hover {
  background-color: var(--blue);
}
button.border-button:focus{
  background-color: var(--blue);
}

/* -----------------------------------Header---------------------------- */
header .logo {
  color: var(--black);
}
header .logo > span:first-child {
  color: var(--blue);
}
header .contacts {
  color: var(--gray);
}

/*------------------------------------ Main ----------------------------*/
main section.section-hero {
  background-color: #2F303A;
}
main section.section-hero h1 {
  color: var(--white);
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border: none;
}
main section.section-hero ul {
  color: var(--black);
}
main section.section-team {
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
main section.section-team ul > li {
  background-color: var(--white);
}

/* ------------------------------------footer-------------------------- */
footer.footer {
  background-color: #2f303a;
}
footer .logo {
  color: var(--white);
}
footer .logo > span:first-child {
  color: var(--blue);
}
.link-footer {
  text-decoration: none;
  list-style: none;
  color: var(--white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
footer address.address {
  color: var(--gray);
}
footer address.address .address-link {
  color: var(--white);
}
