:root {
  --black: #212121;
  --light-black:#2F303A;
  --gray: #757575;
  --white: #ffffff;
  --blue: #2196f3;
  --dark-blue:#338ABB;
  --light_blue:#188CE8;
  --light-white:#f5f4fa;
}

body {
  font-family: "Roboto";
  background-color: var(--white);
  color: var(--black);
}

/* -----------------------------------Common-------------------------- */
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.text-title{
  font-style: normal;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.description-title{
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
p.text-description {
  color: var(--gray);
}
.porfolio-description{
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
}
.hidden {
  display: none;
}
a.link {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
}
a.link:hover {
  color: var(--blue);
}
a.link:focus {
  color: var(--blue);
}
a.link.active,
a.link:active {
  color: var(--blue);
}
ul.block-style {
  list-style: none;
}
button.main-button {
  background-color: var(--light_blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 216px;
  line-height: 3;
  cursor: pointer;
}
button.main-button:hover {
  background-color: var(--dark-blue);
}
button.main-button:focus {
  background-color: var(--dark-blue);
}
button.border-button {
  background-color: var(--white);
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: var(--light-white);
}
button.border-button.active {
  background-color: var(--blue);
}
button.border-button:hover {
  background-color: var(--blue);
}
button.border-button:focus{
  background-color: var(--blue);
}

/* -----------------------------------Header---------------------------- */
header .logo {
  color: var(--black);
}
header .logo > span:first-child {
  color: var(--blue);
}
header .contacts {
  color: var(--gray);
}

/*------------------------------------ Main ----------------------------*/
main section.section-hero {
  background-color: var(--light-black);
}
main section.section-hero h1 {
  color: var(--white);
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border: none;
}
main section.section-hero ul {
  color: var(--black);
}

main section.section-advantage h3{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
main section.section-team{
  background-color: var(--light-white);
}
main section.section-team h3 {
  background-color: var(--white);
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
main section.section-team ul > li {
  background-color: var(--white);
}

/* ------------------------------------footer-------------------------- */
footer.footer {
  background-color: var(--light-black);
}
footer .logo {
  color: var(--white);
}
footer .logo > span:first-child {
  color: var(--blue);
}
.link-footer {
  text-decoration: none;
  list-style: none;
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
footer address.address {
  color: var(--gray);
}
footer address.address .address-link {
  color: var(--white);
}
